{% extends 'base.html.twig' %}

{% block body %}
    <h3>Regions list</h3>
    <hr>
   <table class="table table-striped  table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for region in regions %}
            <tr>
                <td><a href="{{ path('admin_region_show', { 'id': region.id }) }}">{{ region.id }}</a></td>
                <td>{{ region.nom }}</td>
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-sm button-style" href="{{ path('admin_region_show', { 'id': region.id }) }}">show</a>
                        </li>
                        <li>
                            <a class="btn btn-sm button-style" href="{{ path('admin_region_edit', { 'id': region.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn ajouter" href="{{ path('admin_region_new') }}">Create a new region</a>
        </li>
    </ul>
{% endblock %}
