{% extends 'base.html.twig' %}

{% block body %}
    <h3>Region</h3>
    <hr>
   <table class="table table-striped  table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ region.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ region.nom }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn ajouter" href="{{ path('admin_region_index') }}">Back to the list</a>
        </li>
        <li>
            <a class="btn ajouter edit-button"  href="{{ path('admin_region_edit', { 'id': region.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
