{% extends 'base.html.twig' %}

{% block body %}
    <h1>Marque</h1>

    
    <table class="table table-striped  table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ marque.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ marque.nom }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a  class="btn ajouter" href="{{ path('admin_marque_index') }}">Back to the list</a>
        </li>
        <li>
            <a   class="btn ajouter edit-button" href="{{ path('admin_marque_edit', { 'id': marque.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
